{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

<footer>
	<div class="footerDiv">
        <a href="/displayGDPR">BACKtoBYTE - Privacy Policy (GDPR)</a>
    </div>
</footer>
