{% block style %}
	<link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}

<svg style="display: none;" aria-hidden="true">
  <defs>
    <linearGradient id="buttonGradient" x1="0" y1="0" x2="0" y2="1">
      <stop offset="0%" stop-color="#e2dbdb"/>
      <stop offset="50%" stop-color="#d3cbcb"/>
      <stop offset="100%" stop-color="#bfb7b7"/>
    </linearGradient>
  </defs>
</svg>

<header>
	<div id="navbar">
		<div id="navLogo">
			BACKtoBYTE
		</div>
		<div id="navDiv">
			<div id="navBtns">
				<ul class="btnList">
					<li>
						<button>
							<span>Home</span>
							<svg viewbox="0 0 143 83" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
								<path d="M141.575 1L112.298 82H1.4248L30.7021 1H141.575Z" fill="url(#buttonGradient)" stroke="#DEDDDD" stroke-width="2"/>
							</svg>
						</button>
					</li>

					<li>
						<button>
							<span>Computers</span>
							<svg viewbox="0 0 143 83" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
								<path d="M141.575 1L112.298 82H1.4248L30.7021 1H141.575Z" fill="url(#buttonGradient)" stroke="#DEDDDD" stroke-width="2"/>
							</svg>
						</button>
					</li>
					<li>
						<button>
							<span>Software</span>
							<svg viewbox="0 0 143 83" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
								<path d="M141.575 1L112.298 82H1.4248L30.7021 1H141.575Z" fill="url(#buttonGradient)" stroke="#DEDDDD" stroke-width="2"/>
							</svg>
						</button>
					</li>
					<li>
						<button>
							<span>Emulator</span>
							<svg viewbox="0 0 143 83" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
								<path d="M141.575 1L112.298 82H1.4248L30.7021 1H141.575Z" fill="url(#buttonGradient)" stroke="#DEDDDD" stroke-width="2"/>
							</svg>
						</button>
					</li>
					<li>
						<button>
							<span>Community</span>
							<svg viewbox="0 0 143 83" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
								<path d="M141.575 1L112.298 82H1.4248L30.7021 1H141.575Z" fill="url(#buttonGradient)" stroke="#DEDDDD" stroke-width="2"/>
							</svg>
						</button>
					</li>

					<li>
						<button>
							<span>About</span>
							<svg viewbox="0 0 143 83" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
								<path d="M141.575 1L112.298 82H1.4248L30.7021 1H141.575Z" fill="url(#buttonGradient)" stroke="#DEDDDD" stroke-width="2"/>
							</svg>
						</button>
					</li>

					<li>
						<button>
							<span>Connection</span>
							<svg viewbox="0 0 143 83" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
								<path d="M141.575 1L112.298 82H1.4248L30.7021 1H141.575Z" fill="url(#buttonGradient)" stroke="#DEDDDD" stroke-width="2"/>
							</svg>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<!-- Hamburger button -->
		<div id="hamburgerBtn">
			<button id="menu-toggle" aria-label="Toggle menu" class="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
</header>
