{% block style %}
	<link rel="stylesheet" href="/assets/css/messageList.css">
{% endblock %}

<div id="pageContent">
	<button id="openAside">☰ Filters</button>
	<aside id="filterSidebar">
		<form id="searchSoftwareForm" method="post" action="/filterSoftware">
			<div id="filterHeader">

				<div id="filterHeaderLeftLines">
					<span class="hl"></span>
					<span class="hl"></span>
					<span class="hl"></span>
					<span class="hl"></span>
					<span class="hl"></span>
				</div>
				<div id="filterTitle">Filters</div>

				<div id="filterHeaderRightLines">
					<span class="hl"></span>
					<span class="hl"></span>
					<span class="hl"></span>
					<span class="hl"></span>
					<span class="hl"></span>
				</div>
			</div>
			<div id="softwareSearchBarDiv">
				<input type="search" id="softwareResearchbar" name="softwareResearchbar"/>
				<button id="btnResearch"><img src="/assets/images/magnifying-glass.png"/></button>
			</div>
		</form>
		<!-- filter list -->
		<p>
			<h3>Systems</h3>
		</p>
		<div id="sideBarComputerList">
			<div id="systemLoadErrors"></div>

		</div>
	</aside>
	<section class="softwareListGrid"></section>
</div>

<script>
	const btn = document.getElementById("openAside");
const aside = document.getElementById("filterSidebar");

btn.addEventListener("click", () => {
aside.classList.toggle("aside-visible");
});
</script>
