{% block style %}
	<link rel="stylesheet" href="/assets/css/window.css">
{% endblock %}

<div class="{{ windowType }}">
	<div class="windowHeader">
		<div class="squareBtnReduce">
			<span class="minusBtn">
				-
			</span>
		</div>
		<div class="leftLines">
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
		</div>
		<div class="windowTitle">
			<p class="titleP">{{ title }}</p>
		</div>

		{# Only show + button if showPlus == 1 #}
            {% if showPlus|default(0) == 1 %}
                <div class="roundBtn" data-page="{{ pageId|default('unknown') }}">
                    <span class="plusBtn">+</span>
                </div>
            {% endif %}

		<div class="rightLines">
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
			<span class="hl"></span>
		</div>
		<div class="squareBtnClose">
			<span class="closeBtn">
				x
			</span>
		</div>
	</div>
	<div class="content">
   		 {% block content %}{% endblock %}
	</div>
</div>
