#commentFormContent {
  display: grid;
  grid-template-columns: 200px auto;
}

#profile {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

#commentContent{
  width:100%;
}

#commentMessage{
  width:90%
}

.btnForm {
  width: 5rem;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #D3CBCB;
  color: #3C3C43CC;
  border: 1px solid #b2afaf;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btnForm:hover {
  background-color: #7c7c7d;
  color: #fff;
}

#photoId {
  margin-top: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  border: 3px dashed #aaa;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: opacity 0.2s;
}

#photoId img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#userPhoto {
  justify-content: center;
  align-content: center;
}

#name {
  text-align: center;
}

label {
  text-align: center;
}

@media (max-width: 800px) {
  #commentFormContent {
   grid-template-columns: 1fr !important;
}
#commentMessage{
  width:100%
}
}