/******************* MEDAI **********************/


/* Window Backgrounds*/

/* form section */
.computerListGrid {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap:20px;
    height: 100%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.computerCardOuter{
    background: linear-gradient(to left,
            #F8a51c 0%,
            #f4d03f 20%,
            #f39c12 50%,
            #f4d03f 80%,
            #e67e22 100%);

    border: 2px solid #000;
    border-radius: 10px;
    width:330px;
    height: 420px;

    display: flex;
    flex-direction: column;
    margin: auto;
  justify-content: center;
  align-items: center;
}

.computerCardOuter:nth-child(6n + 1) .computerCardBackground {
    background: linear-gradient(to top left,
            #ff7675 0%,
            #ffcccb 20%,
            #e74c3c 50%,
            #ffcccb 80%,
            #ff7675 100%);

            border: solid 1px #FF7675;
}

.computerCardOuter:nth-child(6n + 2) .computerCardBackground {
    background: linear-gradient(to top left,
            #55A630 0%,
            #D1F2A5 20%,
            #27AE60 50%,
            #D1F2A5 80%,
            #55A630 100%);

            border: solid 1px #55A630;
}

.computerCardOuter:nth-child(6n + 3) .computerCardBackground {
    background: linear-gradient(to top left,
            #74B9FF 0%,
            #A8E6CF 20%,
            #0984E3 50%,
            #A8E6CF 80%,
            #74B9FF 100%);

            border: solid 1px #74B9FF;
}

.computerCardOuter:nth-child(6n + 4) .computerCardBackground {
    background: linear-gradient(to top left,
            #A29BFE 0%,
            #E1BEE7 20%,
            #8E44AD 50%,
            #E1BEE7 80%,
            #A29BFE 100%);

            border: solid 1px #A29BFE;
}

.computerCardOuter:nth-child(6n + 5) .computerCardBackground {
    background: linear-gradient(to top left,
            #FFB347 0%,
            #FFE0B2 20%,
            #E67E22 50%,
            #FFE0B2 80%,
            #FFB347 100%);

            border: solid 1px #FFB347;
}

.computerCardOuter:nth-child(6n + 6) .computerCardBackground {
    background: linear-gradient(to top left,
            #F8A5C2 0%,
            #FCDDE2 20%,
            #E84393 50%,
            #FCDDE2 80%,
            #F8A5C2 100%);

            border: solid 1px #F8A5C2;
}

.computerCardBackground{
    width: 95%;
    height: 95%;
    border-radius: 10px;
    border: 0;

    display: flex;
    flex-direction: column;
    margin: auto;
  justify-content: center;
  align-items: center;
}

.computerCardInner{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
    margin: auto;
}

.innerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap:10px;
}

.computerCardTitle{
    display:flex;
    gap: 10px;
}

.blackStar{
    color:#000;
}

.whiteStar{
    color: #fff;
}

.roundedWhiteRect{
    width : 280px;
    height: 38px;
    color:blue;
    border-radius: 25px;
}