/******************* MEDAI **********************/
@media (max-width: 950px) {
    #formDiv {
        grid-template-columns: 1fr !important;
        /* single column */
    }

    #scoringBtn {
        flex-direction: column;
        gap: 0 !important;

    }

}

@media (max-width: 575px) {

    #addComputer .largeWindow {
        width: 96vw;

    }

    .formBk1 {
        width: 92vw;
    }

    .formBk2 {
        width: 88vw;
    }

    #computerForm {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    #computerInformation {
        width: 60vw;
    }

    #scoringBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0 !important;
    }


}

@media (max-width: 510px) {
    .formInputLine {
        grid-template-columns: 1fr !important; /* single column override*/
        gap: 5px !important;
    }

   
}

/* Window Backgrounds*/
.formBk1 {
    width: 77vw;
    height: 75vh;
    background: linear-gradient(to left,
            #F8a51c 0%,
            #f4d03f 20%,
            #f39c12 50%,
            #f4d03f 80%,
            #e67e22 100%);
    border: 1px solid #000;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-1{
  background: linear-gradient(to top left,
      #ff7675 0%,
      #ffcccb 20%,
      #e74c3c 50%,
      #ffcccb 80%,
      #ff7675 100%);

  border: solid 1px #FF7675;
}

.bg-2{
  background: linear-gradient(to top left,
      #55A630 0%,
      #D1F2A5 20%,
      #27AE60 50%,
      #D1F2A5 80%,
      #55A630 100%);

  border: solid 1px #55A630;
}

.bg-3{
  background: linear-gradient(to top left,
      #74B9FF 0%,
      #A8E6CF 20%,
      #0984E3 50%,
      #A8E6CF 80%,
      #74B9FF 100%);

  border: solid 1px #74B9FF;
}

.bg-4{
  background: linear-gradient(to top left,
      #A29BFE 0%,
      #E1BEE7 20%,
      #8E44AD 50%,
      #E1BEE7 80%,
      #A29BFE 100%);

  border: solid 1px #A29BFE;
}

.bg-5{
  background: linear-gradient(to top left,
      #FFB347 0%,
      #FFE0B2 20%,
      #E67E22 50%,
      #FFE0B2 80%,
      #FFB347 100%);

  border: solid 1px #FFB347;
}

.bg-6{
  background: linear-gradient(to top left,
      #F8A5C2 0%,
      #FCDDE2 20%,
      #E84393 50%,
      #FCDDE2 80%,
      #F8A5C2 100%);

  border: solid 1px #F8A5C2;
}

.formBk2 {
    width: 75vw;
    height: 72vh;

    border-radius: 10px;
    border: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

/* form section */
#formDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}

#computerForm {

    margin: 1.5rem;

}

img {
    border-radius: 5px;
}

#computerPhoto {
    width: 100%;
}

#manufacturerLogo {
    width: 70px;
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#filePath {
    border-radius: 5px;
}

.camera-label svg path {
    color: #000;
}

.camera-label {
    cursor: pointer;
}

#computer {
    height: 22px;
    align-self: center;
}

#computerInfo {
    background-color: transparent;
    color: #000;
    max-width: 100%;

    border: 0;
    font-size: 14px;
}

#computerInfo::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: white;
}

.textBk1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    width: 100%;
    height: 100%;

    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;

    border-image: linear-gradient(to left,
            #F8a51c 0%,
            #f4d03f 20%,
            #f39c12 50%,
            #f4d03f 80%,
            #e67e22 100%) 5;

    background-clip: padding-box;
}

#scoringBtn {
    display: flex;
    gap: 20px;
}

.stars li,
.stars li:hover~li {
    color: #fff;
    text-shadow: none;
    transition: color 200ms,
        text-shadow 200ms;
    transition-delay: 0;
    cursor: pointer;
}

.stars:hover li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars:hover li:nth-child(2) {
    transition-delay: 60ms;
}

.stars:hover li:nth-child(3) {
    transition-delay: 120ms;
}

.stars:hover li:nth-child(4) {
    transition-delay: 180ms;
}

.stars:hover li:nth-child(5) {
    transition-delay: 240ms;
}

#rarity .star-selected,
#popularity .star-selected {
    color: #000;
}

#rarity .star-unselected,
#popularity .star-unselected {
    color: #fff;
}

.stars:hover li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars:active li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars ul {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    gap: 5px;
}

#rarity {
    display: flex;
    gap: 10px;

}

#popularity {
    display: flex;
    gap: 10px;
}


.plus-label svg path {
    fill: #000;
}

.plus-label {
    cursor: pointer;
}

.btnForm {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

.formBtnDiv {
    display: flex;
    gap: 10px;
}


/*The Add Computer window is slightly bigger than the Home window*/
#addComputer .largeWindow {
    height: 85vh;
    width: 80vw;
    margin: 10px auto;

}

#addSoftware .largeWindow {
    height: 85vh;
    width: 80vw;
    margin: 10px auto;

}

.errNinput {
    display: flex;
    flex-direction: column;
}

.errNinput p {
    color: #1A1A1A;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}

#successorDiv {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
}

.formInputLine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 10px;
}

.formInputLine>div {
    display: flex;
    align-items: center;
    gap: 10px;

}

#formLeft {
    margin: 10px;
    justify-self: center;
}

#addComputer .squareBtnClose,
#addSoftware .squareBtnClose,
#addManufacturer .squareBtnClose {
    display: block;
}