/* Small screens first for quick loading */
@media (max-width: 1100px) {
    #formDiv {
        flex-direction: column;
        gap: 1rem !important;

    }

}

/*Resize the window title*/
@media (max-width: 630px) {
    #addComputer .windowTitle .titleP {
        font-size: large;
        font-weight: 600;
        text-align: center;
    }
}


@media (max-width: 575px) {

    .formInputLine {
        flex-direction: column;
        gap: 0 !important;
    }

    /*Limit the input fields to 30 characters */
    .formInputLine input {
        width: 30ch;
    }

    /*Limit the input fields of type number to 8 characters */
    .formInputLine input[type=number] {
        width: 8ch;
    }

    #computerProfileIamge,
    #computerInformation {
        align-self: start;
        width: 65%;
    }

    #scoringBtn{
        flex-direction: column;
        gap:0 !important;
        align-self: start;
       
    }

}



.formBk1 {
    width: 100%;
    height: 75vh;
    background: linear-gradient(to left,
            #F8a51c 0%,
            #f4d03f 20%,
            #f39c12 50%,
            #f4d03f 80%,
            #e67e22 100%);
    border: 1px solid #000;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formBk2 {
    width: 97%;
    height: 95%;
    background: linear-gradient(to left,
            #ff7675 0%,
            #ffcccb 20%,
            #e74c3c 50%,
            #ffcccb 80%,
            #ff7675 100%);

    border-radius: 10px;
    border: 0;
    overflow: auto;

}

.textBk1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    width: 100%;
    height: 100%;

    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;

    border-image: linear-gradient(to left,
            #F8a51c 0%,
            #f4d03f 20%,
            #f39c12 50%,
            #f4d03f 80%,
            #e67e22 100%) 5;

    background-clip: padding-box;
}


#computerForm {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;

}

input {
    border-radius: 5px;
}

.formInputLine {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.formInputLine input {
    justify-content: flex-end;
}


#addComputer .largeWindow {
    width: 80vw;
    height: 86vh;
}

#addComputer .squareBtnClose {
    display: block;
}

#formDiv {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#formLeft {
    width: 100%;
}

#formRight {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    width: 100%;
}

img {
    border-radius: 5px;
}

#computerPhoto {
    width: 100%;
}

#manuLogo {
    width: 70px;
    height: 47px;
}

#filePath {
    border-radius: 5px;
}

.camera-label svg path {
    color: #000;
}

.camera-label {
    cursor: pointer;
}

#computer {
    height: 22px;
    align-self: center;
}

#computerInfo {
    background-color: transparent;
    color: #000;
    max-width: 100%;

    border: 0;
    font-size: 14px;
}

#computerInfo::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: white;
}

#scoringBtn {
    display: flex;
    gap: 20px;
}

.stars li,
.stars li:hover~li {
    color: #fff;
    text-shadow: none;
    transition: color 200ms,
        text-shadow 200ms;
    transition-delay: 0;
     cursor: pointer;
}

.stars:hover li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars:hover li:nth-child(2) {
    transition-delay: 60ms;
}

.stars:hover li:nth-child(3) {
    transition-delay: 120ms;
}

.stars:hover li:nth-child(4) {
    transition-delay: 180ms;
}

.stars:hover li:nth-child(5) {
    transition-delay: 240ms;
}

.stars:hover li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars:active li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars ul {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    gap:5px;
}

#rarity {
    display: flex;
    gap: 10px;

}

#popularity {
    display: flex;
    gap: 10px;
}