/******************* MEDAI **********************/

@media (max-width: 1100px) {
    #formDiv {
        flex-direction: column;
    }

    .formInputLine {
        justify-content: space-evenly;

    }

    #formLeft {
        text-align: left;
    }

    #formRight {
        justify-content: left;

    }

    .formInputLine {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: start;
        width: 100%;
        gap: 10px;
    }

    .formInputLine label {
        text-align: left;
        justify-self: start;
    }

    .formInputLine input {
        justify-self: start;
        width: 100%;
    }

    #manuName {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: start;
        width: 100%;
        gap: 10px;
    }

    #manuName>div:first-child {
        justify-self: start;
        text-align: left;
    }

    #manuName>div:last-child {
        justify-self: start;
    }

}


@media (max-width: 575px) {

    #addComputer .largeWindow {
        width: 96vw;

    }


    .formBk1 {
        width: 92vw;
    }

    .formBk2 {
        width: 88vw;
    }

    #computerForm {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    #computerInformation{
        width:60vw;
    }

    #scoringBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap:0 !important;
    }


}

.formBk1 {
    width: 77vw;
    height: 75vh;
    background: linear-gradient(to left,
            #F8a51c 0%,
            #f4d03f 20%,
            #f39c12 50%,
            #f4d03f 80%,
            #e67e22 100%);
    border: 1px solid #000;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formBk2 {
    width: 75vw;
    height: 72vh;
    background: linear-gradient(to left,
            #ff7675 0%,
            #ffcccb 20%,
            #e74c3c 50%,
            #ffcccb 80%,
            #ff7675 100%);

    border-radius: 10px;
    border: 0;

    overflow-x: hidden;
    overflow-y: auto;

}

.textBk1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    width: 100%;
    height: 100%;

    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;

    border-image: linear-gradient(to left,
            #F8a51c 0%,
            #f4d03f 20%,
            #f39c12 50%,
            #f4d03f 80%,
            #e67e22 100%) 5;

    background-clip: padding-box;
}


#computerForm {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;

}

input {
    border-radius: 5px;
}

.formInputLine {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    justify-content: space-between;

    align-items: center;


}

.formInputLine>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.formInputLine input {
    justify-content: flex-end;
}



#addComputer .squareBtnClose,
#addComputerManufacturer .squareBtnClose {
    display: block;
}

#formDiv {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#formLeft {
    width: 100%;
}

#formRight {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    width: 100%;
}

img {
    border-radius: 5px;
}

#computerPhoto {
    width: 100%;
}

#manuLogo {
    width: 70px;
    height: 47px;
}

#filePath {
    border-radius: 5px;
}

.camera-label svg path {
    color: #000;
}

.camera-label {
    cursor: pointer;
}

#computer {
    height: 22px;
    align-self: center;
}

#computerInfo {
    background-color: transparent;
    color: #000;
    max-width: 100%;

    border: 0;
    font-size: 14px;
}

#computerInfo::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: white;
}

#scoringBtn {
    display: flex;
    gap: 20px;
}

.stars li,
.stars li:hover~li {
    color: #fff;
    text-shadow: none;
    transition: color 200ms,
        text-shadow 200ms;
    transition-delay: 0;
    cursor: pointer;
}

.stars:hover li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars:hover li:nth-child(2) {
    transition-delay: 60ms;
}

.stars:hover li:nth-child(3) {
    transition-delay: 120ms;
}

.stars:hover li:nth-child(4) {
    transition-delay: 180ms;
}

.stars:hover li:nth-child(5) {
    transition-delay: 240ms;
}

#rarity .star-selected,
#popularity .star-selected {
    color: #000;
}

#rarity .star-unselected,
#popularity .star-unselected {
    color: #fff;
}

.stars:hover li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars:active li {
    color: #000;
    text-shadow: #000 0 0 2px;
}

.stars ul {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    gap: 5px;
}

#rarity {
    display: flex;
    gap: 10px;

}

#popularity {
    display: flex;
    gap: 10px;
}

#manuName {
    display: flex;
    gap: 5px;
    color: #000;
}

.plus-label svg path {
    fill: #000;
}

.plus-label {
    cursor: pointer;
}

.btnForm {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

.formBtnDiv {
    display: flex;
    gap: 10px;
}


/*The Add Computer window is slightly bigger than the Home window*/
#addComputer .largeWindow {
    height: 85vh;
    width: 80vw;
    margin: 10px auto;

}


