body {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

#connectFormDiv{
    width:100%;
}

#connectForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
    width: 100%;
    margin: 0 auto;
    align-content: center;
    
}

.connectFormInput {
    display: flex;
    gap: 10px;
}

.connectFormInput label {
    min-width: max-content;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b5563;
}

.connectFormInput input {
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #d7dcdf;
}


#connectSubmit:hover {
    background-color: #7c7c7d;
    color: #fff;
}


#connectSubmit {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

#submitBtnDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}

#formTitle {
    text-align: center;
}

#connectP {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

#connectA {
    color: #0078AA;
    text-decoration: none;
    cursor: pointer;

}

#logos {
    display: flex;
    align-items: center;
}

#logoUser {
    width: 50px;
    cursor: pointer;
}

@media (width <=520px) {
    .connectFormInput {
        flex-direction: column;
    }

    #connectForm {
        width: 85%;
    }
}