#connectForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-top: 10px;
   
    align-content: center;
    justify-content: center;

    justify-self: center;
    
}

.connectFormInput {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.connectFormInput label {
    min-width: max-content;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b5563;
}

.connectFormInput input {
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #d7dcdf;
}

.connectFormInput > div:first-child {
    width: 100px;          
    flex-shrink: 0;         
    text-align: left;    
}

#connectSubmit:hover {
    background-color: #7c7c7d;
    color: #fff;
}


#connectSubmit {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

#submitBtnDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}

#formTitle {
    text-align: center;
}

#connectP {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

#connectA {
    color: #0078AA;
    text-decoration: none;
    cursor: pointer;

}

.error{
    justify-self: center;
}

@media (width <=520px) {
    .connectFormInput {
        flex-direction: column;
        align-items: normal;
    }

    #connectForm {
        width: 85%;
    }

}