


.newsOutings {
    display: flex;
    gap: 5.4%; /* 2.7% + 2.7% */
    justify-content:space-between;
    
}
.newsDiv, .outingsDiv {
   width:calc(47.8% - 3rem);
    margin: 0;
}

.outingsDiv{
    margin-right: 0.5rem;
}

.newsDiv{
    margin-left: 1.5rem;
}
.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
    filter: drop-shadow(#b8b8b9 0.4rem 0.4rem 2px);
    padding-bottom: 30px;
}

/* Mobile: Stack vertically */

@media (max-width: 768px) {
    .newsOutings {
        flex-direction: column;
        align-items: center;
        width:calc(100vw - 3rem);
        margin: 1.5rem;
    }

    /* All windows same width and spacing */
    .newsDiv,
    .outingsDiv,
    .carouselDiv {
        padding:0;
        margin:0;

        width: calc(100% - 2px);
        filter: drop-shadow(#b8b8b9 0.4rem 0.4rem 2px);
        
    }

   
    .carouselDiv {
        width: 100%;                   
        max-width: none;
    }

     .outingsDiv,
    .carouselDiv {
        margin: 1.5rem; 
    }

    .carouselDiv .content {
        height: 250px;
    }


}
