
/*Mobile first to ensure quick loading on phones*/
/* Mobile: Stack vertically */
@media (max-width: 768px) {
    .newsOutings {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* All windows same width and spacing */
    .newsDiv,
    .outingsDiv,
    .carouselDiv {
        padding:0;
        margin:0;

        width: calc(100% - 3rem);
        filter: drop-shadow(#b8b8b9 0.4rem 0.4rem 2px);
    }

   
    .carouselDiv {
        width: 100%;                   
        max-width: none;
    }

     .outingsDiv,
    .carouselDiv {
        margin: 1.5rem; 
    }

    .carouselDiv .content {
        height: 250px;
    }

}

.newsOutings {
    display: flex;
    gap: 5.4%; /* 2.7% + 2.7% */
    justify-content: center;
}
.newsDiv, .outingsDiv {
   width:calc(47.8% - 3rem);
    margin: 0;
}

.outingsDiv{
    margin-right: 1.5rem;
}

.newsDiv{
    margin-left: 1.5rem;
}



.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
    filter: drop-shadow(#b8b8b9 0.4rem 0.4rem 2px);
    padding-bottom: 30px;
}


/* Dialogue */
#addComputer { display: none; }



/* Show dialog in fullscreen */
#addComputer:modal {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 95vh;
  margin: 0;
  border: none;
  background:none;
  color: #000;
  outline: none;      
  justify-self: center;

/*Position modal on screen */
  top: 5vh;
  left: 5vw;
}

