#computerManufacturerForm{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;

}

.manuLogoHolder{
    display:flex;
    flex-direction: column;
     justify-content: center;
    gap:10px;
}

#inputNErrors{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: #1A1A1A;
    font-weight: 700;
}
