
html, body {
  height: 100%;
  margin: 0;
}

#pageContent {
  display: flex;
  height: 66vh;
  width: 100%;
  gap: 5px;
}

.softwareListGrid {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

#postList {
  flex: 1;
  min-height: 0;
}


#openAside {
    display: none;
}

#filterHeaderLeftLines,
#filterHeaderRightLines {
    display: none;
}

.sidebar {
  min-width: 100px;
  height:62vh;
  overflow-y: auto;
  padding:5px;
}

#newPostDiv{
    display:flex;
    align-items:center;
    gap: 5px;
}

a {
  text-decoration: none;
  color: #000;
}

.errNinput {
    color: #1A1A1A;
    font-weight: 700;
}

.plus-label svg path {
    fill: #000;
}

.plus-label {
    cursor: pointer;
}

#sideBarCategoryList{
    display: flex;
    flex-direction: column;
}

#sideBarCategoryList ul{
    list-style: none;
    padding:0;
    margin:0;
    
}

#sideBarCategoryList li{
   padding:10px;
    
}

#sideBarCategoryList a {
    text-decoration: none;
}

#addNewCategoryDiv{
    display:flex;
    align-items: center;
    gap:5px;
    margin-top: 15px;
}

.table-container {
    width: 100%;
  height: 100%;      
  overflow-y: auto;
  overflow-x: auto;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    border: 2px dotted #000000;
}

table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
    background-color: #FFFFFF;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;


}

th {
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0078AA;
    color: #F9FAFB;
    padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #F7F6F5; 
}

tbody tr:nth-child(odd) {
  background-color: #EDEDED; 
}

tbody tr:hover {
  background-color: #B0B0B0;
}



#postListform{
    display:flex;
    gap:5px;
}

.tableHeadLink{
    color:#fff;
    cursor: pointer;
}

.btnForm {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43CC;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

@media (max-width: 900px) {

    #openAside {
    display: block;
    width: 5rem;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43CC;
    border: 1px solid #b2afaf;
}

#openAside:hover {
    background-color: #7c7c7d;
    color: #fff;
}


    #filterHeaderLeftLines,
    #filterHeaderRightLines {
        display: block;
    }

    #filterHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-bottom: 10px;
    }

    #filterHeaderLeftLines,
    #filterHeaderRightLines {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    #filterHeaderLeftLines .hl,
    #filterHeaderRightLines .hl {
        display: block;
        /* important */
        height: 1px;
        margin: 0.5px 0;
        width: 60px;
        background: #3C3C43CC;
    }

    .sidebar {
        position: fixed;
        top: 80;
        right: 0;
        width: 200px;
        height: 60vh;
        z-index: 1000;

        padding: 10px;
        margin: 0;
        gap: 6px;
        align-items: center;

        overflow-x: hidden;
        overflow-y: auto;

        background-color: #D3CBCB;
        border-top-left-radius: 10px;
        fill: #bdb5b5;

        border-color: #9E9696;
        box-shadow:
            inset 0 2px 2px rgba(255, 255, 255, 0.3),
            0 1px 3px rgba(0, 0, 0, 0.2);
        filter:
            drop-shadow(0 1px 0 rgba(255, 255, 255, 0.3)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

        transform: translateX(110%);
        transition: transform 0.3s ease;

    }

    .sidebar.aside-visible {
        transform: translateX(0);
        /* shown */
    }

    #softwareSearchBarDiv {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #softwareSearchBarDiv button {
        width: 30px;
        height: 30px;
        border-radius: 6px;

        display: flex;
        align-items: center;
        /* vertical centering */
        justify-content: center;
        /* horizontal centering */
        padding: 0;
        /* optional, depends on your design */
        transition: filter 0.2s ease;
    }

    #softwareSearchBarDiv button img {
        width: 20px;
        height: 20px;

        display: block;

    }

    #softwareSearchBarDiv:hover img {
        filter: brightness(0) saturate(100%) invert(60%);
    }

    #pageContent {
    flex-direction: column;
    height: 65vh;
  }

  .softwareListGrid {
    flex: 1;
  }

  }