#pageContent {
  height: 67vh;
  
}

#formContent {
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  height: 63vh;
  border-radius: 6px;
}

#commantFormContent {
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  height: 63vh;
  border-radius: 6px;
  gap:10px;
}

#btnPost{
  display: flex;
  justify-content: center;
}

#btnComment{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40vw;
  margin-top: 10px;
}

/* Post text and title*/
#messageContent {
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: 63vh;
  gap: 10px;
  justify-items: center;
  align-items: center;
   border-radius: 5px;
}

#commentContent {
  display: flex;
  flex-direction: column;
  
   border-radius: 5px;
}

#postMessage {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

#commentMessage{
  padding: 10px;
  max-width: 80%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

#commentText{
    width:48vw;
}

#postTitle {
  display: block;
  margin-bottom: 10px;
  width: 70%;
  justify-self: center;
   border-radius: 5px;
}

#postTitleDiv {
   width: 70%;
    border-radius: 5px;
}

/*User profile photo */

#profile {
  display: flex;
  flex-direction: column;   
  align-items: center;     
  justify-content: flex-start;
 
  gap: 8px;   
}

#photoId {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  border: 3px dashed #aaa;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: opacity 0.2s;
}

#photoId img {
  width: 100%;
  height: 100%;
  object-fit: cover;


}

#userPhoto {
  justify-content: center;
  align-content: center;
}

#name{
  text-align: center;
}

/*Category and button section*/
#classContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

#photoPost,
#selecteSystem,
#selectCategory{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#selecteSystem > div,
#selectCategory > div {
  display: flex;
  justify-content: center;
}

label {
  text-align: center;
}

select,
input,
button {
  text-align: center;
  width: auto;       
}

.btnForm {
    width: 5rem;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43CC;
    border: 1px solid #b2afaf;
}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

#postProfileImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#postPhoto{
  cursor: pointer;
}

.inputNErrors{
    color: #1A1A1A;
    font-weight: 700;
}

/******************************/
/* For smaller screen modles */
/****************************/

@media (max-width: 1130px) {
  #formContent {
    gap: 10px;
  }

  #messageContent {
    width: 60vw;
  }

  #photoId {
    width: 120px;
    height: 120px;
  }



  #textarea {
    /* 14 columns */ 
    width: 40em;
    
  }
}
/********************/
@media (max-width: 1020px) {
    #postPhoto{
      width:90%;
    }
}

/*******************/

@media (max-width: 1000px) {
  #messageContent {
    width: 55vw;
  }

  #photoId {
    width: 100px;
    height: 100px;
  }


  textarea {
    /* 14 columns */ 
    width: 30em;
    
  }

}

/******************/

@media (max-width: 830px) {
  #formContent {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  #profile,
  #messageContent,
  #classContent {
    width: 90%;
    max-width: 95%;
  }

   #postPhoto{
      width:100%;
    }

  #messageContent {
    height: auto;
  }

  #photoId {
    width: 90px;
    height: 90px;
  }

  #postMessage {
    width: 100%;
  }

  textarea {
     width: 12em;
   
  }


  .btnForm {
    width: 100%;
  }

   #pageContent {
    height: 100vh;
  }

  #formContent {
    height: auto;         
  }

}

/*************************/

@media (max-width: 375px) {
  #photoId {
    width: 75px;
    height: 75px;
  }

  

  textarea {
    
     width: 10em;
  }
}
