#pageContent{
    display:flex;
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 62vh;
}

#sideDiv{
    display:flex;
    flex-direction: column;
    color: #fff;
    background-color: #0078AA;
    flex: 1;
    gap:30px;
    
     align-items: center;
}



#messageDiv{
    display:flex;
    flex-direction: column;
     flex: 3;
     gap:1rem;
     margin-top: 1rem;
     padding:1rem;
     
}


#titleDate{
  justify-content: center;
}

#postPhoto{
    justify-self: center;
}

#titleDate{
    display:flex;
    gap: 50px;
     color: #1A1A1A;
    font-weight: 700;
}

#postBtn{
    display:flex;
    gap:10px;
    align-self:flex-end;
}

.btnForm {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

#photoId {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  border: 3px dashed #aaa;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: opacity 0.2s;
  margin-top: 20px;
}

#photoId img {
  width: 100%;
  height: 100%;
  object-fit: cover;


}

 #postPhoto {
    align-self: center;
}

#userPhoto {
  justify-content: center;
  align-content: center;
}

@media (max-width: 550px) {
  #pageContent{
    flex-direction: column;
}
#sideDiv{
    padding-bottom: 20px;
}
}

@media (max-width: 410px) {
  #postImage{
    width:250px;
}
}