#registrationForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-top: 10px;

    align-content: center;
    justify-content: center;
    justify-self: center;

    overflow: auto;

    max-height : 100%;

}

.btnForm {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

.formBtnDiv {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.registrationFormInput {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.registrationFormInput label {
    min-width: max-content;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b5563;
}

.registrationFormInput input {
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #d7dcdf;
}


#registrationSubmit:hover {
    background-color: #7c7c7d;
    color: #fff;
}


#registrationSubmit {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

#submitBtnDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}

#formTitle {
    text-align: center;
}

#registrationP {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

#registrationA {
    color: #0078AA;
    text-decoration: none;
    cursor: pointer;

}

.registrationFormInput>div:first-child {
    width: 100px;
    flex-shrink: 0;
    text-align: left;
}

.error {
    justify-self: center;
}

.errorMessage{
    color: #1A1A1A;
    font-weight: 700;
}

#profileContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

#uploadImageProfile {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

#profileImage {
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

#profileContainer,
#profileContainer img {
  pointer-events: auto;
  cursor: pointer;
}

#profileContainer {
    display: flex;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    border: 3px dashed #aaa;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #666;
    transition: opacity 0.2s;

}

#profileContainer:hover {
  opacity: 0.8;
}

select{
    font-size: inherit;
    width:100%;
}

.errP {
    color: #1A1A1A;
    font-weight: 700;
    align-self: center;
    margin:0;
    padding:0;
}


.plus-label svg path {
    fill: #000;
}

.plus-label {
    cursor: pointer;
}

@media (width <=520px) {
    .registrationFormInput {
        flex-direction: column;
        gap: 5px;
        align-items: normal;

    }

    #registrationForm {
        width: 85%;
        height: 100%;
    }

    #registrationForm {
        gap: 5px;

    }

    .registrationFormInput>div:first-child {
        white-space: nowrap;
    }
}