#registrationForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-top: 10px;

    align-content: center;
    justify-content: center;
    justify-self: center;

    overflow: auto;

    max-height : 100%;

}

#userDiv{
    display:flex;
    gap:10px;
}

.btnForm, .lgBtn {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43CC;


    border: 1px #b2afaf solid;

    padding: 5px;


    font-size: 1rem;

}

#changePasswordBtn {
    margin-bottom: 20px;
}

.btnForm{
        width: 5rem;
        margin-top: 10px;
}

.btnForm:hover, #changePasswordBtn:hover{
    background-color: #7c7c7d;
    color: #fff;
}

.formBtnDiv {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.registrationFormInput {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.registrationFormInput label {
    min-width: max-content;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b5563;
}

.registrationFormInput input {
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #d7dcdf;
}


#registrationSubmit:hover {
    background-color: #7c7c7d;
    color: #fff;
}


#registrationSubmit {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43CC;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

#submitBtnDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}

#formTitle {
    text-align: center;
}

#registrationP {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

#registrationA {
    color: #0078AA;
    text-decoration: none;
    cursor: pointer;

}

.registrationFormInput>div:first-child {
    width: 100px;
    flex-shrink: 0;
    text-align: left;
}

.error {
    justify-self: center;
}

.errorMessage{
    color: #1A1A1A;
    font-weight: 700;
}

#profileContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

#uploadImageProfile {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

#profileImage {
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

#profileContainer,
#profileContainer img {
  pointer-events: auto;
  cursor: pointer;
}

#profileContainer {
    display: flex;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    border: 3px dashed #aaa;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #666;
    transition: opacity 0.2s;

}

#updatePasswordDialog{
background-color: transparent;
  border: 0;
  /* Center dialog */
  padding: 0;
}

#updatePasswordDialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}


#updatePasswordContent {
width: min(90vw, 250px); 
  background-color: #7e7f7f;
  border-radius: 20px;
  padding: 20px;
  position: relative; 
  border: 1px solid white;
}

#btnUpdatePassword {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43CC;
    border: 1px #b2afaf solid;
    padding: 5px;
    width: 5rem;
    font-size: 1rem;

}

.updatePasswordText{
    border-radius: 10px 0px 0 10px;
  }

#updateBarDiv{
    display:flex;
    flex-direction: column;
    width:100%;
    gap:10px;
    
}

#btnUpdatePassword:hover {
    background-color: #7c7c7d;
    color: #fff;
}

  .closeBtnb{
    color:white;
  }

  #updatePasswordText{
    border-radius: 10px 0px 0 10px;
  }

  #updatePasswordForm{
      align-content: center;
      
  }

  #passwordGrid {
  display:flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
  
  justify-self:center;
}
  .squareBtnCloseb {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;
  border-radius: 6px;

  background: transparent;
  border: 1px solid #fff;
  color: #fff;

  cursor: pointer;
}

.squareBtnCloseb:hover {
  background: rgba(255, 255, 255, 0.15);
}

.formInputLine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 10px;
}

.formInputLine>div {
    display: flex;
    align-items: center;
    gap: 10px;

}

******************

#profileContainer:hover {
  opacity: 0.8;
}

select{
    font-size: inherit;
    width:100%;
}

.errP {
    color: #1A1A1A;
    font-weight: 700;
    align-self: center;
    margin:0;
    padding:0;
}


.plus-label svg path {
    fill: #000;
}

.plus-label {
    cursor: pointer;
}

#listOfUsers{
    position: absolute;
    display:flex;
    margin-left: 20px;
     bottom: 45px;
}

@media (width <=520px) {
    .registrationFormInput {
        flex-direction: column;
        gap: 5px;
        align-items: normal;
       
    }

    #registrationForm {
        width: 85%;
        height: 100%;
    }

    #registrationForm {
        gap: 5px;

    }

    .registrationFormInput>div:first-child {
        white-space: nowrap;
    }

    #listOfUsers{
     bottom: 10px;
}
}