.table-container {
    width: 100%;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    border: 2px dotted #000000;
}

table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
    background-color: #FFFFFF;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;


}

th {
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0078AA;
    color: #F9FAFB;
    padding: 10px;
}

#closeDiv{
 display: flex;
 justify-content: right;
 margin-top: 20px;
}

.role-column {
    width: auto;
    white-space: nowrap;
    text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #F7F6F5; 
}

tbody tr:nth-child(odd) {
  background-color: #EDEDED; 
}

tbody tr:hover {
  background-color: #B0B0B0;
}

td, th {
  border-bottom: 1px solid #808080; 
  color: #000000;
}
#roleUpdateContent{
    background-color: red;
}
.action-btn {
    padding: 6px 12px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    border-radius: 6px;
}


.btnForm {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

thead th {
   background-color: rgb(12, 132, 178);
  
    color: #fff;
    font-weight: bold;
}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

#addDiv{
    display: flex;
    align-items: center;
    
    padding:15px;
    
}

#updateRoleDialog{
  background-color: transparent;
  border: 0;

  /* Center dialog */
  padding: 0;
}

#updateRoleDialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}


#updateRoleContent {
width: min(90vw, 250px); 
  background-color: #7e7f7f;
  border-radius: 20px;
  padding: 20px;
  position: relative; 
  border: 1px solid white;
}

#btnUpdateRole {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;
    border: 1px #b2afaf solid;
    padding: 5px;
    width: 5rem;
    font-size: 1rem;

}

#updateBarDiv{
    display:flex;
    width:100%;
    gap:10px;
}

#btnUpdateRole:hover {
    background-color: #7c7c7d;
    color: #fff;
}

  .closeBtn{
    color:white;
  }

  #updateRoleText{
    border-radius: 10px 0px 0 10px;
  }

  #updateRoleFormForm{
      align-content: center;
  }

  #roleGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
  margin-top: 30px;
}
  .squareBtnClose {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;
  border-radius: 6px;

  background: transparent;
  border: 1px solid #fff;
  color: #fff;

  cursor: pointer;
}

.squareBtnClose:hover {
  background: rgba(255, 255, 255, 0.15);
}

#formLine{
  display: flex;
  align-items: center;
  gap:10px;
}

#logoName{
  display:flex;
  gap:10px;
  align-items: center;
}

#logoName input{
  height: auto;
}



@media (max-width: 480px) {
#updateRoleContent {
    border-radius: 16px;
    padding: 16px;
  }
  
}

@media (max-width: 500px) {
  #logoName{
  flex-direction: column;
}
}

@media (max-width: 600px) {
    .action-btn {
        padding: 6px 8px;
        font-size: 13px;
        margin: 0 2px;
    }

     
}

@media (max-width: 810px) {
    #formLine{
      flex-direction: column;
    }

     
}