.table-container {
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    border: 2px dotted #000000;
}


table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
    background-color: #FFFFFF;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;


}

th {
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0078AA;
    color: #F9FAFB;
    padding: 10px;
}


.role-column {
    width: auto;
    white-space: nowrap;
    text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #F7F6F5; 
}

tbody tr:nth-child(odd) {
  background-color: #EDEDED; 
}

tbody tr:hover {
  background-color: #B0B0B0;
}

td, th {
  border-bottom: 1px solid #808080; 
  color: #000000;
}

.action-btn {
    padding: 6px 12px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    border-radius: 6px;
}


.btnForm {
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;


    border: 1px #b2afaf solid;

    padding: 5px;

    width: 5rem;
    font-size: 1rem;

}

thead th {
   background-color: rgba(0,120,170,0.9);
  
    color: #fff;
    font-weight: bold;
}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

#addDiv{
    display: flex;
    align-items: center;
    
    padding:15px;
    
}



@media (max-width: 600px) {
    .action-btn {
        padding: 6px 8px;
        font-size: 13px;
        margin: 0 2px;
    }

     
}