.softwareFormDiv {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#softwareForm {
    width: 100%;
    max-height: 70vh;

}

#formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
}

#detailsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    align-items: center;
}

#details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25rem 1rem;
    justify-content: center;
    text-align: center;
}

#softwarePhotoHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#softwareProfileImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#softwarePhoto {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#info {
    width: 100%;
    display: flex;
    justify-content: center;
}

#detailsInfo {
    width: 100%;
    max-width: 600px;
    min-height: 80px;
    max-height: 160px;
    resize: vertical;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 1rem;
}

#link {
    width: 100%;
    display: flex;
    justify-content: center;
}

#softwareLink {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 1rem;
}

.formBtnDiv {
    display: flex;
    gap: 1rem;
    padding: 20px;
}

.btnForm {
    width: 5rem;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43;
    border: 1px solid #b2afaf;
}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

#plusBtn{
    display:flex;
    gap:10px;
    align-items: center;
}

.plus-label svg path {
    fill: #000;
}

.plus-label {
    cursor: pointer;
}

div {
  align-self: center;
}

input, select{
    border-radius: 5px;
}


#addSoftware .squareBtnClose{
    display: block;
}

.manufacturerErrors {
     color: #1A1A1A;
    font-weight: 700;
    
}

#softwareManufacturerLogo{
    display: block;
  
    
}


@media (max-width: 920px) {
    #softwareForm {

        overflow-y: auto;
        overflow-x: hidden;
    }

    #detailsContent {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 590px) {
   
    #details {
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }
    #plusBtn{
        flex-direction: column;
    }
}