.softwareFormDiv,
.emulatorFormDiv {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#softwareForm,
#emulatorForm {
    width: 100%;
    max-height: 70vh;

}

#formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
}

#detailsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    align-items: center;
}

#details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25rem 1rem;
    justify-content: center;
    text-align: center;
}

#softwarePhotoHolder,
#emulatorPhotoHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#softwareProfileImage,
#emulatorProfileImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#softwarePhoto, 
#emulatorPhoto{
    max-height: 250px;
    width: auto;
    border-radius: 8px;
}

#info {
    width: 100%;
    display: flex;
    justify-content: center;
}

#detailsInfo {
    width: 100%;
    max-width: 600px;
    min-height: 80px;
    max-height: 160px;
    resize: vertical;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 1rem;
    resize:none;
}

#link {
    width: 100%;
    display: flex;
    justify-content: center;
}

#softwareLink,
#emulatorLink {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 1rem;
    margin-top: 5px;
}

.formBtnDiv {
    display: flex;
    gap: 1rem;
    padding: 10px;
}

.btnForm {
    width: 5rem;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #D3CBCB;
    color: #3C3C43CC;
    border: 1px solid #b2afaf;
}

.btnForm:hover {
    background-color: #7c7c7d;
    color: #fff;
}

#plusBtn{
    display:flex;
    gap:10px;
    align-items: center;
}

.plus-label svg path {
    fill: #000;
}

.plus-label {
    cursor: pointer;
}

div {
  align-self: center;
}

input, select{
    border-radius: 5px;
}


#addSoftware .squareBtnClose,
#addEmulator .squareBtnClose{
    display: block;
}

.manufacturerErrors {
     color: #1A1A1A;
    font-weight: 700;
    
}

#softwareManufacturerLogo,
#emulatorManufacturerLogo{
    display: block;
  
    
}

.chosenComputerList {
  height: 70px;
  overflow-y: auto;       
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: #f5f5f5;

  background: #F2F2F2;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}

/* Optional: nicer list styling */
.chosenComputerList ul {
  margin: 0;
  padding-left: 16px;
  list-style: none;
}

.chosenComputerList li {
  padding: 4px 0;
  font-size: 0.9rem;
}


@media (max-width: 920px) {
    #softwareForm,
    #emulatorForm {

        overflow-y: auto;
        overflow-x: hidden;
    }

    #detailsContent {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 590px) {
   
    #details {
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }
    #plusBtn{
        flex-direction: column;
    }
}