* {
  font-family: "Roboto", sans-serif;
}
body {
        min-height: 100vh;
        position: relative;
        
    }

    body, html {
  margin: 0;
  
}

footer {
  position: absolute; 
  display:flex;
  justify-content: center;
  bottom: 0;
  left: 0; 
  right: 0;
  padding: 5px;
  margin: 0 auto;
  font-size: small;
}


.sectionTitle{
  font-weight: 600;
}
