.unauthorised-container {
  max-width: 480px;
  margin: 80px auto;
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  background: #fff5f5;
  border: 1px solid #ffcccc;
  
}

.errorMessage {
  color: #b00020;
  margin-top: 12px;
}

.actions {
  margin-top: 24px;
}

.btn {
  display: inline-block;
  padding: 0.4rem;
  font-size: 1rem;
    background-color: #D3CBCB;
   color: #3C3C43CC;
    border: 1px solid #b2afaf;
    border-radius: 6px;
  text-decoration: none;
  margin: 0 6px;
}

.btn:hover {
    background-color: #7c7c7d;
    color: #fff;
}
.tokenErrorContainer{
  margin-left: 10px;
}
