.windowTitle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.windowHeader {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #D3CBCB;
    border-radius: 10px 10px 0px 0px;
}

.content {
    background-color: #D9D9D9;
    height: 192px;
    border-radius: 0px 0px 10px 10px;
    padding: 2%;
}

.titleP {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #3C3C43;
}

.squareBtn {
    align-self: center;
    margin-left: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3C3C43;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    align-self: center;
    margin-left: 10px;
}

.minus {
    text-align: center;
    font-size: 1.5rem;
}

.leftLines, .rightLines{
    display: flex;
    flex-direction: column;

    gap: 3px;
    width: 25%;     
    padding: 0 5px;     /* Optional: breathing room */
    justify-content: center;
}

.hl {
    display: block;
   
    height: 1px;
    background: #3C3C43;;
    margin: 1px 0;
}
