.windowTitle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.windowHeader {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #D3CBCB;
    border-radius: 10px 10px 0px 0px;
}



.content {
    background-color: #D9D9D9;
    height: 60vh;
    border-radius: 0px 0px 10px 10px;
    padding: 2%;
}

.titleP {
    margin: 0;
  pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #3C3C43;
}

.squareBtnReduce, .squareBtnClose{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #3C3C43;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    align-self: center;
}
.squareBtnReduce {
 margin-left: 10px;
}

.squareBtnClose {
 margin-right: 10px;
 cursor: pointer;
}


.minusBtn, .plusBtn, .closeBtn {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1rem;
    pointer-events: none;
}

.roundBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3C3C43;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.leftLines, .rightLines{
    display: flex;
    flex-direction: column;

    gap: 3px;
    width: 25%;     
    padding: 0 5px;     /* Optional: breathing room */
    justify-content: center;
}

.hl {
    display: block;
   
    height: 1px;
    background: #3C3C43;;
    margin: 1px 0;
}

.largeWindow{
    width:calc(100% - 3rem);
    height: 80vh;
    margin: 1.5rem;
    filter: drop-shadow(#b8b8b9 0.4rem 0.4rem 2px);
    background-color: #D9D9D9;
    border-radius: 10px;
}


.squareBtnClose{
    display:none;
}

/*.carouselDiv .content{

    height:450px;
}*/
