{% extends "/layouts/base.twig" %}

{% block style %}
	<title>Add Computer</title>

{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section id="sectionAdd">
				<div id="addComputer">
					{% embed '/partials/window.twig' with {
   					 	windowType: 'largeWindow',
    					title: 'Add Computer',
    					showPlus: 0,
						showClose : 1,
						pageId: 'addComputer'
					} %}
						{% block content %}
							{% include '/partials/computerForm.twig' %}
						{% endblock %}
					{% endembed %}
				</div>
			</section>
		</div>

		{% if reopenDialog %}
			<script>
				document.addEventListener("DOMContentLoaded", () => {
					document.querySelector("#addComputerManufacturer").showModal();
				});
			</script>
		{% endif %}

		<section id="addComputerManuSection">
			<dialog id="addComputerManufacturer">
				{% embed '/partials/window.twig' with {
   					 	windowType: 'smallWindow',
    					title: 'Computer Manufacturer',
    					showPlus: 0,
						showClose : 1,
						pageId: 'addComputerManufacturer'
					} %}
					{% block content %}
						{% include '/partials/computerManufacturerForm.twig' %}
					{% endblock %}
				{% endembed %}

			</dialog>
		</section>
	</main>
{% endblock %}
