{% extends "/layouts/base.twig" %}

{% block style %}
	<title>{{ title }}</title>

{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section id="sectionAdd">
				<div id="addSoftware">
					{% embed '/partials/window.twig' with {
   					 	windowType: 'mediumWindow',
    					title:  title ,
    					showPlus: 0,
						showClose : 1,
						pageId: 'addSoftware'
					} %}
						{% block content %}
							{% include '/partials/softwareForm.twig' %}
						{% endblock %}
					{% endembed %}
				</div>
			</section>
		</div>
	</main>
{% endblock %}
