{% extends "/layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/computerList.css">
	<title>Computer List</title>
	
{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section>
				<div id="computerList">
					{% embed '/partials/window.twig' with {
						windowType: 'largeWindow',
						title: 'Computers',
						showPlus: 1,
						pageId: 'computerList'
						} %}
					{% block content %}
						{% include '/partials/computerListGrid.twig' %}
					{% endblock %}
				{% endembed %}
				</div>
			</section>

		</div>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
    console.log("DOMContentLoaded fired!");
});
		</script>
	</main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

