{% extends "/layouts/base.twig" %}

{% block style %}
	<title>Computer List</title>
	<link rel="stylesheet" href="/assets/css/modal.css">
{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section>
				<div id="computerList">
					{% include "/partials/window.twig" with {
						windowType: 'largeWindow',
						title: 'Computers',
						content: '<p>Computer List</p>',
						showPlus: 1,
						pageId: 'computerList'
					} %}
				</div>
			</section>

		</div>
	</main>
{% endblock %}
