{% extends "/layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/computerList.css">
	<title>Emulator List</title>
	<script>localStorage.setItem('mode', 'emulator');</script>
{% endblock %}
{% block main %}
	<main>
		<div id="pageContainer">
			<section>
				<div id="emulatorList">
					{% embed '/partials/window.twig' with {
						windowType: 'largeWindow',
						title: 'Emulator',
						showPlus: 1,
						showSearch: 0,
						pageId: 'emulatorList'
						} %}
						{% block content %}
							{% include '/partials/emulatorListGrid.twig' %}
						{% endblock %}
					{% endembed %}
				</div>
			</section>
		</div>
</main>{% endblock %}{% block scripts %}
{{ parent() }}{% endblock %}
