{% extends "/layouts/base.twig" %}

{% block style %}
      <title>Home</title>
  <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block main %}
    <main>
      <section>
      
        <div>
          <p>Hello</p>
        </div>
      </section>
    </main>
{% endblock %}