{% extends "/layouts/base.twig" %}

{% block style %}
	<title>Home</title>
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section>
				<div id="carousel">
					<p>Carousel</p>
				</div>
			</section>
			<section>
				<div class="newsOutings">
					<div class="newsDiv column">
						<div class="windowHeader">
							<div class="squareBtnReduce">
								<span class="Btn">
									-
								</span>
							</div>
							<div class="leftLines">
								<span class="hl"> </span>
								<span class="hl"> </span>
								<span class="hl"> </span>
								<span class="hl"> </span>
								<span class="hl"> </span>
								<span class="hl"> </span>
							</div>
							<div class="windowTitle">
								<p class="titleP">News</p>
							</div>
							<div class="rightLines">
								<span class="hl"></span>
								<span class="hl"></span>
								<span class="hl"></span>
								<span class="hl"></span>
								<span class="hl"></span>
								<span class="hl"></span>
							</div>
						</div>
						<div class="content">
							<p>News Information</p>
						</div>
					</div>

					<div class="outingsDiv column">
						<div class="windowHeader">
							<div class="squareBtnReduce">
								<span class="minusBtn">
									-
								</span>
							</div>
							<div class="leftLines"></div>
							<div class="windowTitle">
								<p class="titleP">Outings</p>
							</div>
							<div class="rightLines"></div>
						</div>
						<div class="content">
							<p>Outings Information</p>
						</div>
					</div>

				</div>

			</section>
		</div>
	</main>
{% endblock %}
