{% extends "/layouts/base.twig" %}

{% block style %}
	<title>Home</title>
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section>
				<div id="computerList">
					{% embed '/partials/window.twig' with {
						windowType: 'largeWindow',
						title: 'Home',
						showPlus: 0,
						pageId: 'home'
						} %}
					{% block content %}
						{% include '/partials/computerCarousel.twig' %}
					{% endblock %}
				{% endembed %}
				</div>
			</section>

		</div>
			<section>

        {# Lower section windows #}
				<div class="newsOutings">

          {# News window #}
					{% include "/partials/window.twig" with {
              windowType: 'newsDiv column',    
              title: 'News',
              content: '<p>News Informations</p>',
              showPlus: 0
            } 
          %}

          {# Outing information window #}
					{% include "/partials/window.twig"  with {
              windowType: 'outingsDiv column',  
              title: 'Outings',
              content: '<p>Outings Informations</p>',
              showPlus: 0
            } 
          %}

				</div>

			</section>
		</div>
	</main>
{% endblock %}
