{% extends "/layouts/base.twig" %}

{% block style %}
	<title>Home</title>
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section>
				<div id="carousel">
					<p>Carousel</p>
				</div>
			</section>
			<section>

        {# Lower section windows #}
				<div class="newsOutings">

          {# News window #}
					{% include "/partials/window.twig" with {
              windowType: 'newsDiv column',    
              title: 'News',
              content: '<p>News Informations</p>'
            } 
          %}

          {# Outing information window #}
					{% include "/partials/window.twig"  with {
              windowType: 'outingsDiv column',  
              title: 'Outings',
              content: '<p>Outings Informations</p>'
            } 
          %}

				</div>

			</section>
		</div>
	</main>
{% endblock %}
