{% extends "/layouts/base.twig" %}

{% block style %}
	<title>{{ title }}</title>

{% endblock %}

{% block main %}
	<main>
		<div id="pageContainer">
			<section>
				<div id="writeMessage">
					{% embed '/partials/window.twig' with {
   					 	windowType: 'largeWindow',
    					title:  title ,
    					showPlus: 0,
						showClose : 1,
						pageId:'writeMessage'
					} %}
						{% block content %}
							{% include '/partials/message.twig' %}
						{% endblock %}
					{% endembed %}
				</div>
			</section>
		</div>
		</main>
{% endblock %}